#pic1{
    background-image: url('lechon1.jpg'); 
    background-size: contain; 
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
}
#pic2{
    background-image: url('lechon2.jpg'); 
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

