#pic1{
    background-image: url('lechon1.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh; 
}
#pic2{
    background-image: url('lechon2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
}

